[timer/solar]
; Your current location, easily obtained from here: https://www.latlong.net/
; Used by astrality for automatic wallpaper rotation based on time of day
latitude = 63.446827
longitude = 10.421906

; Height above sea level
elevation = 0


[module/wallpaper]
enabled = true
timer = solar
on_period_change = feh --bg-fill wallpaper_themes/default/{period}.*
on_exit = feh --bg-fill src/solid_black_background.jpeg


[module/conky-time]
enabled = true
; You might run into issues if you are automatically rearranging displays
; at startup, since conky might render its modules to a screen which does
; not exist anymore shortly after starting conky. You can prevent this
; by delaying the start of the conky process
timer = solar
template_file = conky_themes/time-1920x1080/template.conf
on_startup = conky -c {compiled_template}


[module/conky-performance]
enabled = true
; You might run into issues if you are automatically rearranging displays
; at startup, since conky might render its modules to a screen which does
; not exist anymore shortly after starting conky. You can prevent this
; by delaying the start of the conky process
timer = solar
template_file = conky_themes/performance-1920x1080/template.conf
on_startup = conky -c {compiled_template}


[fonts]
1 = FuraCode Nerd Font


; vim:filetype=dosini
