# For the use of pip-sync and pip-compile
pip-tools

# Testing framework
pytest

# For monkey patching all calls to datetime related function in pytest
pytest-freezegun

# For setting environment variables during testing
pytest-env

# For running mypy static type analysis as part of pytest with --mypy flag
pytest-mypy

# For typing
mypy

# For TypedDict
mypy_extensions

# Needed in order to get the time of dawn, noon, sunset, and dusk
astral

# For parsing .yml config files
pyyaml

# For template rendering
Jinja2

# For distribution and installation of this application
setuptools

# For binary distribution for faster installation times
wheel

# For documentation compilation
sphinx

# For filewatching and autobuilding documentation
sphinx-autobuild

# ReadTheDocs theme for sphinx
sphinx_rtd_theme

# For watching filesystem changes
watchdog

# For linting python files
flake8

# For enforcing trailing commas
flake8-commas

# For enforcing single quote string literals
flake8-quotes

# Sphinx extension which inspects type annotations when using autodoc
sphinx-autodoc-typehints

# For colored log output
coloredlogs

# For checking spawned subprocesses
psutil
