[location]
; Your current location, easily obtained from here: https://www.latlong.net/
; Used by solarity for automatic wallpaper rotation based on time of day
latitude = 63.446827
longitude = 10.421906

; Height above sea level
elevation = 0


[wallpaper]
; Available wallpaper themes can be shown by running `ls wallpaper_themes`
theme = default

[conky]
; Available Conky modules can be shown by running `ls conky_themes`
modules = performance time

[font]
main = FuraCode Nerd Font

[behaviour]
; How often to check if we have entered a new time of day, in seconds
refresh-period = 60


; vim:filetype=dosini
