[location]
; Your current location, easily obtained from here: https://www.latlong.net/
; Used by solarity for automatic wallpaper rotation based on time of day
latitude = 63.446827
longitude = 10.421906

; Height above sea level
elevation = 0


[wallpaper]
; Available wallpaper themes can be shown by running `ls wallpaper_themes`
theme = default

; Option passed to `feh` when setting the wallpaper. Available options are:
; --bg-tile
; --bg-center
; --bg-max
; --bg-fill
feh-option = --bg-fill

[conky]
; You might run into issues if you are automatically rearranging displays
; at startup, since conky might render its modules to a screen which does
; not exist anymore after starting conky. You can prevent this issue by
; delaying the start of the conky process
startup-delay = 0

; Available Conky modules can be shown by running `ls conky_themes`
modules = performance-1920x1080 time-1920x1080

[fonts]
primary = FuraCode Nerd Font

[behaviour]
; How often to check if we have entered a new time of day, in seconds
refresh-period = 60


; vim:filetype=dosini
